.about-main {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0px;
}

.fundoprincipal {
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  width: 105vw;
  height: 44.5vh;
  object-fit: cover;
  background-image: url(../img/fundoprincipal.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
}

.fundoprincipal h1 {
  justify-content: center;
  margin: 0 auto 0 auto;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 6.5vw;
  color: rgb(251, 255, 0);
}

.legendaprincipal {
  font-family: "DM Sans", sans-serif;
  margin-top: 15px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  font-size: 23px;
  padding-bottom: 1vh;
}

.layout {
  padding-top: 50px;
  display: table;
  width: 100%;
  align-items: center;
}

.row {
  display: table-row;
  align-items: center;
}

.voluntariado_imagem {
  object-fit: cover;
  width: 45vw;
  height: 45vh;
  max-width: 1000px;
  max-height: 920px;
  margin: 0 auto 15px auto;
  justify-content: center;
}

.voluntariado_imagem>img {
  border-radius: 1vh;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-weight: 600;
  color: #000c7c;
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  text-align: center;
}

.voluntariado,
.quem-ajudamos {
  display: table-cell;
  padding: 10px;
  width: 100px;
}

.legendadisplay {
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  text-align: justify;
  line-height: 1.4;
  max-width: 88vh;
  margin: 0 auto;
}

.association-members {
  padding-top: 50px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  background-color: #4f3ca8;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 28px;
  margin-bottom: 1px;
}

.member-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.member-category {
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  min-width: 300px;
  box-sizing: border-box;
}

.member-category-title {
  color: #4f3ca8;
  display: inline-block;
  padding: 0px 0px;
  border-radius: 30px;
  font-size: 24px;
  margin-bottom: 20px;
}

.member-names {
  text-align: justify;
  line-height: 1.2;
  text-align-last: center;
  font-size: 15px;
}

@media only screen and (max-width: 1024px) {  
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .legendaprincipal {
    padding-left: 5px;
    padding-right: 5px;
  }

  .fundoprincipal {
    height: 35vh;
  }

  .fundoprincipal h1 {
    font-size: 14vw;
  }

  .voluntariado,
  .quem-ajudamos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }

  .voluntariado_imagem {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .legendadisplay {
    margin: 3vw;
    font-size: 18px;
    padding: 0 10px;
  }
}