footer {
    background-color: rgb(61, 66, 154); 
    padding: 10px;
}

.tudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-image {
    flex: 1;
    max-width: 200px;
    min-width: 50px;
}

.footer-image img {
    width: 100%;
    height: auto;
}

.formulario-contato, .detalhes-contato, .localizacao, .redes-sociais {
    flex: 1;
    margin-bottom: 10px;
}

.separa {
    flex: 1;
    max-width: 10px;
}

.redes-sociais img {
    max-width: 50px;
    max-height: 50px;

}

.rodape-inferior {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.hidden {
    display: none;
}

/* bUtão */

.fbutao {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s
}

.fbutao:hover {
    background-color: white;
    color: black; 
}