footer {
  position: sticky;
  bottom: 0;
  background-color: rgb(61, 66, 154);
  padding: 10px;
}

.f-tudo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.f-footer-image {
  flex: 1;
  max-width: 200px;
  min-width: 125px;
}

.f-footer-image img {
  width: 100%;
  height: auto;
}

.f-footer-image,
.f-formulario-contato,
.f-detalhes-contato,
.f-localizacao,
.f-redes-sociais {
  flex: 1;
  margin-bottom: 10px;
}


.f-split {
  flex: 1;
  max-width: 10px;
}

.f-redes-sociais img {
  max-width: 50px;
  max-height: 50px;
}

.f-rodape-inferior {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.f-hidden {
  display: none;
}

/*Button*/

.f-button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.f-button:hover {
  background-color: white;
  color: black;
}
.f-tit {
  font-size: 1.5rem;
}

.f-formulario-contato p,
.f-detalhes-contato p,
.f-localizacao p,
.f-redes-sociais p {
  font-size: 1rem;
}

footer h5,
footer p,
footer label {
  color: white;
}

/* Form */

.f-campos-contato {
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.f-input1, 
.f-input2 {
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
    font-size: 14px;
    max-width: 233px;
    min-width: 233px;
}

.f-input1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
}

.f-input2 {
  border: transparent;
}

.f-textarea {
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-width: 230px;
  min-width: 230px;
  max-height: 250px;
  min-height: 100px;
}

/* LMAO */

@media (max-width: 768px) {
  .f-tudo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
  }

  .f-footer-image img,
  .f-formulario-contato,
  .f-detalhes-contato,
  .f-localizacao,
  .f-redes-sociais {
      width: 100%;
      text-align: center;
  }

  .f-redes-sociais a {
      margin: 0 5px;
  }

  .f-split {
      display: none;
  }

  .f-rodape-inferior {
      text-align: center;
      margin-top: 20px;
  }
}
