body {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #f8f9ff;
  min-height: 100vh;
}

.principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.principal_titulo {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 20px;
  margin: 40px 0 40px 0;
}

.principal_grid {
  margin-top: 70px;

  max-width: 1000px;
  margin: 15px auto auto auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  /* justify-content: center;
    flex-wrap: wrap;
    margin: auto; */
}

.principal_grid_card {
  display: flex;
  flex-direction: column;

  background-color: #e6e7f5;
  border-radius: 8px;
  width: 260px;
  height: 335px;
  padding: 20px 12px 12px 12px;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.principal_grid_card p {
  display: flex;
  padding: 15px 0 0 0;
  font-size: 14px;
  flex: 1;
}

.principal_grid_card > span {
  max-width: 260px;
  max-height: 335px;
}

.principal_grid_card_img {
  width: 250px;
  height: 188px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;

  /* border-bottom: 1px solid #cfcfcf; */
}

.principal_grid_card > span {
  display: flex;

  padding: 10px 0px 0px 0px;
  font-size: 14px;
}

.principal_grid_card > span > i {
  margin-right: 5px;
}

.principal_grid img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}

.principal_botao {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  margin: 30px auto 80px auto;
  background-color: #f8f9ff;
  border: 1px solid #cfcfcf;
  font-size: 14px;
  padding: 10px 15px;
}

.principal_botao:hover {
  background-color: #e6e7f5;

  transition: all 0.3s ease;
}
