body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.transparency-section {
  font-family: Arial, sans-serif;
  background-image: url("../img/transparency_background.png");
  background-size: cover;
  background-position: center;
}

.transparency-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.transparency-content {
  text-align: center;
  max-width: 60vw;
}

.transparency-title {
  font-size: 50px;
  color: #002060;
  margin-bottom: 2vh;
  justify-content: center;
}

.transparency-text {
  font-size: 2.8vh;
  color: #333;
  margin-bottom: 5vh;
  justify-content: left;
  text-justify: left;
}

.transparency-list {
  list-style-type: disc;
  padding-left: 2vw;
  text-align: left;
}

.transparency-list li {
  margin-bottom: 2.5vh;
}

.transparency-list li::marker {
  font-size: 2.6vh;
}

.transparency-list li a {
  text-decoration: line;
  color: #002060;
  font-weight: bold;
  font-size: 2.8vh;
}

.transparency-list li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .transparency-title {
    font-size: 7.5vw;
  }

  .transparency-text {
    font-size: 2vh;
  }

  .transparency-list li a {
    font-size: 2vh;
  }
}
